<!-- src/views/contact.hbs -->
<div class="form-container">
    <h1>Contact Me</h1>
    
    {{#if session.flash}}
        <div class="alert alert-{{session.flash.type}}">{{session.flash.message}}</div>
    {{/if}}
    
    <form action="/contact" method="POST">
        <div>
            <label>Nama</label>
            <input type="text" name="nama" required>
        </div>
        
        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        
        <div>
            <label>Pesan</label>
            <textarea name="pesan" rows="4" required></textarea>
        </div>
        
        <button type="submit">Kirim</button>
    </form>
</div>